---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<div class="portfolio-grid">
  {% assign sizes = "size-small,size-medium,size-large" | split: "," %}
  {% for post in site.portfolio %}
    {% assign bubble_size = sizes[forloop.index0 | modulo: sizes.size] %}
    <a href="{{ post.url }}" class="portfolio-item">
      <div class="portfolio-content {{ bubble_size }}">
        {{ post.excerpt | markdownify }}
      </div>
    </a>
  {% endfor %}
</div>
