---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<div class="portfolio-grid">
  {% for post in site.portfolio %}
    <a href="{{ post.url }}" class="portfolio-item">
      <div class="portfolio-content">
        {% if post.excerpt contains "<img" %}
          <div class="portfolio-image">
            {{ post.excerpt | markdownify }}
          </div>
        {% endif %}
        <div class="portfolio-title">
          <h3>{{ post.title }}</h3>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
